:root {
  --textColor: rgb(65, 64, 66);
  --btnbgColor: #3287b7;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Neutrif Pro";
}

/* ---------------Login--------------- */
.phone-container {
  padding: 3em 1.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f0e4;
  position: relative;
}

.phone-container h1 {
  font-size: 1.3em;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
  color: var(--textColor);
}

.phone-container p {
  font-size: 0.755em;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  width: 100%;
  max-width: 270px;
  text-align: center;
  justify-content: space-evenly
}

.phone-container p span {
  font-weight: 500;
}
.navbar{
  justify-content: flex-end!important;
}

.nav-wrap{
  display: flex;
  background-color: rgb(77, 77, 77);
  width: 240px;
  height: 90vh;
  justify-content: space-evenly;
}
.main-nav{
  display: flex;
  justify-content:space-evenly;
}
.preview-img{
  width:100px;
  height: 200px;
}

.member-image{
  width: 40px;
  height: 40px;
}
.preview-image{
  width: 60px;
  height: 60px;
}

.product-image{
  width: 50px;
  height: 50px;
}
.border{
  border:1px solid black;
}
.notes{
  font-size: 10px;
}
.showpassword{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.card-body{
  height: 400px;
  width: auto;
  overflow-y: scroll;
}
.topbar{
  background-color: #0081cc;
  color: #f2f0e4;
  text-decoration: none;
  list-style: none;
}
.nav-link{
  list-style: none;
  color: #f2f0e4!important;
}
/* ********************************************* */
#wrapper {
  display: flex;
}
.page-container{
  width: 100%!important;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}
/* ************************************* */
.accordion {
  overflow-anchor: none;
}

.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
}
.sidebar{
  width: 250px;
  text-align: center;
  background-color: #0081cc;
  color: #f2f0e4;
  height: 650px;
}
.sidebar-brand-text{
  text-decoration:none;
  color: #f2f0e4;
  list-style-type: none;
}
.admin-logo{
  width: 30px;
  height: 30px;
}
.sidebar-divider{
  margin: 1px;
  color: black;
}
.sidebar-link:hover{
  transform: scale(1.09);
  background-color: #3287b7;
}