:root {
  --textColor: rgb(65, 64, 66);
  --btnbgColor: #3287b7;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Neutrif Pro";
}

/* ---------------Login--------------- */
.phone-container {
  padding: 3em 1.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f0e4;
  position: relative;
}

.phone-container h1 {
  font-size: 1.3em;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
  color: var(--textColor);
}

.phone-container p {
  font-size: 0.755em;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  width: 100%;
  max-width: 270px;
  text-align: center;
  justify-content: space-evenly
}

.phone-container p span {
  font-weight: 500;
}

.nav-wrap{
  display: flex;
  background-color: rgb(77, 77, 77);
  width: 240px;
  height: 90vh;
  justify-content: space-evenly;
}
.main-nav{
  display: flex;
  justify-content:space-evenly;
}
.preview-img{
  width:100px;
  height: 200px;
}

.member-image{
  width: 40px;
  height: 40px;
}
.preview-image{
  width: 60px;
  height: 60px;
}

.product-image{
  width: 50px;
  height: 50px;
}