:root {
  --textColor: rgb(65, 64, 66);
  --btnbgColor: #3287b7;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Neutrif Pro";
}

/* ---------------Login--------------- */
.phone-container {
  padding: 3em 1.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f0e4;
  position: relative;
}

.phone-container h1 {
  font-size: 1.3em;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
  color: var(--textColor);
}

.phone-container p {
  font-size: 0.755em;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  width: 100%;
  max-width: 270px;
  text-align: center;
  justify-content: space-evenly;
}

.phone-container p span {
  font-weight: 500;
}
.navbar {
  justify-content: flex-end !important;
}

.nav-wrap {
  display: flex;
  background-color: rgb(77, 77, 77);
  width: 240px;
  height: 90vh;
  justify-content: space-evenly;
}
.main-nav {
  display: flex;
  justify-content: space-evenly;
}
.preview-img {
  width: 100px;
  height: 200px;
}

.member-image {
  width: 40px;
  height: 40px;
}
.preview-image {
  width: 60px;
  height: 60px;
}

.product-image {
  width: 50px;
  height: 50px;
}
.category-img {
  width: 50px;
  height: 50px;
}
.border {
  border: 1px solid black;
}
.notes {
  font-size: 10px;
}
.showpassword {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.card-body {
  height: 450px;
  width: auto;
  overflow-y: scroll;
}
.card-style {
  height: fit-content;
  width: fit-content;
  padding: 5px;
}
.topbar {
  background-color: #0081cc;
  color: #f2f0e4;
  text-decoration: none;
  list-style: none;
}
.nav-link {
  list-style: none;
  color: #f2f0e4 !important;
}
/* ********************************************* */
#wrapper {
  display: flex;
}
.page-container {
  width: 100% !important;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}
/* ************************************* */
.accordion {
  overflow-anchor: none;
}

.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
}
.sidebar {
  width: auto;
  text-align: center;
  background-color: #0081cc;
  color: #f2f0e4;
  height: 650px;
  position: relative;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0.5px;
  color: #f2f0e4;
}
.sidebar-brand-text {
  text-decoration: none;
  color: #f2f0e4;
  list-style-type: none;
}
.admin-logo {
  width: 30px;
  height: 30px;
}
.sidebar-divider {
  margin: 1px;
  color: black;
}
.sidebar-link:hover {
  transform: scale(1.09);
  background-color: #3287b7;
}
.show {
  width: 188px;
}
/* .sub-menu{
  position:absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
} */
/* ****************************** */
.profile-page {
  height: 600px;
  overflow-y: scroll;
}
.complition {
  justify-content: space-between;
  font-style: oblique;
  font-size: 12px;
}
.profile-pic {
  width: 100px;
  height: 100px;
}
.profile-container {
  background-color: #ffffff;
  padding: 10px 10px;
  box-shadow: #0e0e0e;
  height: auto;
}
.profile-navbar {
  background-color: #fff;
  font-size: 15px;
  font-style: oblique;
}
.profile-link {
  cursor: pointer;
}
.overview-heading {
  color: rgb(114, 114, 114);
  font-style: oblique;
}
.img-modify {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.remove-btn {
  position: absolute;
  bottom: 0;
  left: 10;
  cursor: pointer;
  border: none;
  color: white;
  background-color: lightcoral;
}
.edit-btn {
  position: absolute;
  top: 0;
  left: 150px;
  cursor: pointer;
  border: none;
  color: white;
}
.bar-width {
  height: 10px !important;
  width: 50%;
}
.update-btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* *********************************** */
.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pdfView {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rContainer {
  background-color: white;
  padding: 20px;
  position: relative;
}
.pdfContainer {
  background-color: white;
  padding: 20px;
  position: relative;
  width: 600px;
}

.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#x {
  position: relative;
  float: right;
  background: rgb(46, 46, 46);
  color: white;
  top: -34px;
  right: -32px;
}
#x:hover {
  background-color: rgb(196, 33, 33);
}

.rItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 500;
}

.rDesc {
  font-weight: 300;
}

.rMax {
  font-size: 12px;
}

.rPrice {
  font-weight: 500;
}

.rSelectRooms {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 8px;
  color: gray;
}

.room {
  display: flex;
  flex-direction: column;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}
.register-wrap {
  height: 600px;
  overflow-y: scroll !important;
}

.pricing-list {
  list-style-type: none;
}
.scroll-subadmin {
  height: 500px;
  overflow-y: scroll !important;
}
.upload-file {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.pdf-view {
  cursor: pointer;
  list-style: none;
}
